DATABASE_URL="npg_YcCRpke8vm3L"


BETTER_AUTH_SECRET="einSuperLangesUndGeheimesPasswort123456789"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

NEXT_PUBLIC_STREAM_VIDEO_API_KEY="g4nynap772u4"
STREAM_VIDEO_SECRET_KEY="u9gj4xm2uwb6ct96hxvmgxfhgvymcpzdsx6ud9sr5urba4z97buutxyk7nsxu3je"